page-home {
    h2 {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        font-size: 2.0rem;
    }
    ion-scroll {
        white-space: nowrap;
        height:20rem;
        .scroll-item {
          display: inline-block;
          width: 20rem;
          h2 {
              font-size: 1.4rem;
          }
          p {
            font-size: 1rem;
          }
          img {
            height: 12rem;
          }
        }
      }

      
      
}
