<ion-header>
  <ion-navbar>
    <ion-title>home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col class="col-12">
      <ion-slides autoplay="1000" loop="true" speed="3000">


        <ion-slide *ngFor="let item of adsData" (click)="adsClick(item._id)">
          <img [src]="item.img">
        </ion-slide>



      </ion-slides>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h2 padding>สินค้าแนะนำ</h2>
    </ion-col>
    <ion-col>

      <ion-item no-lines (click)="productListClick(productData.raccomments)">
        <p item-end>see all</p>
      </ion-item>

    </ion-col>
  </ion-row>
  <ion-scroll scrollX="true">
    <ion-card class="scroll-item" *ngFor="let item of productData.raccomments" (click)="productClick(item)">

      <img [src]="item.img">

      <ion-item>
        <h2 text-wrap>ผักกาดขาว</h2>
        <p>90฿/แพ็ค</p>
      </ion-item>



    </ion-card>

  </ion-scroll>

  <ion-row>
    <ion-col>
      <h2 padding>สินค้าใหม่</h2>
    </ion-col>
    <ion-col>

      <ion-item no-lines (click)="productListClick(productData.productNews)">
        <p item-end>see all</p>
      </ion-item>

    </ion-col>
  </ion-row>
  <ion-scroll scrollX="true">
    <ion-card class="scroll-item" *ngFor="let item of productData.productNews" (click)="productClick(item)">

      <img [src]="item.img">


      <ion-item>
        <h2 text-wrap>พริกหวาน</h2>
        <p>90฿/แพ็ค</p>
      </ion-item>



    </ion-card>
  </ion-scroll>



</ion-content>